<li>
	{{name}}

	<button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devour}}">
		{{#if devour}}DEVOUR!{{else}}DEVOURED TIME!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
